<!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Shopping Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" method="post" id="noLoginForm">
      <div class="modal-body">
        <div class="group">
          <p class="text-muted">Please, provide us with an email for beter services. We won`t store any information</p>
          <label for="emailNoUser" class="label">Email</label>
          <input class="form-control" id="emailNoUser" type="text" class="input" name="emailNoUser">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" value="Proceed" name="formSubmit">Proceed</button>
      </div>
    </form>
    </div>
  </div>
</div>